# Lecture 3: Data Type

## 2.1: Module 2 Notebook 1

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Numbers ##

In [ ]:
5

In [ ]:
5 * 2

In [ ]:
1234567 ** 890

In [ ]:
5.0

In [ ]:
5.0000000000000001

In [ ]:
5.0*2

In [ ]:
10 / 2

In [ ]:
10 / 3

In [ ]:
100 / 400

In [ ]:
100 / 40000

In [ ]:
10 / 4000000000000000

In [ ]:
9 ** 0.5

In [ ]:
(12 ** 0.5) ** 2

In [ ]:
int(5432.78)

In [ ]:
float(54321)

## Strings ##

In [ ]:
'Flavor'

In [ ]:
'any snippet of text'

In [ ]:
str(2)

In [ ]:
int('2')

In [ ]:
int('2.3')

In [ ]:
float('2.3')

In [ ]:
str('3', '2')

In [ ]:
2 + 'x'

In [ ]:
'2' + 'x'    # concatenation

In [ ]:
'straw' + 'berry'

In [ ]:
'two ' + 'words'

In [ ]:
'ha' * 5

In [ ]:
"I'd rather be fishing."

In [ ]:
'I'd rather be fishing.''

## Types ##

In [ ]:
type(2.3)

In [ ]:
type(100)

In [ ]:
type('abcd')

In [ ]:
a = 5.7
type(a)

## Arrays ##

In [ ]:
make_array(1, 2, 3, 4)

In [ ]:
my_array = make_array(5, 6, 7, 8)

In [ ]:
my_array

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
sum(my_array) / len(my_array)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
another_one = make_array(20, 30, 40, 50)

In [ ]:
my_array + another_one

In [ ]:
yet_another = make_array(1, 2, 3, 4, 5, 6)
my_array + yet_another

In [ ]:
my_array

In [ ]:
my_array.item(0)

## Ranges ##

In [ ]:
np.arange(4)

In [ ]:
np.arange(5, 26)

In [ ]:
np.arange(5, 26, 10)

In [ ]:
np.arange(5, 25, 10)

# Lists

In [ ]:
list_of_integers = [1, 2, 3, 4]
list_of_integers

In [ ]:
list_of_strings = ["a", "this is a list item", "hello world!", 'd']
list_of_strings

In [ ]:
list_of_numbers_with_expressions = [10.2, 2, 4, max(5, 6.3), min(-2, 1.5), 3-2]
list_of_numbers_with_expressions

In [ ]:
list_of_numbers_and_strings = [2, 0.4, 'c', "happy", "Umass Amherst", 'cs-108', 5]
list_of_numbers_and_strings

In [ ]:
list()

In [ ]:
list(1, 2, 3)

In [ ]:
list?

In [ ]:
list([2, 3, 4])