# Lecture 6, Challenge #

## 4.2: Module 4 Notebook 2

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
# total salary paid by each team, highest first

nba.select('TEAM', 'SALARY').group('TEAM', sum).sort(1, descending=True)

In [ ]:
nba.group('TEAM', sum)

In [ ]:
# average salary paid for each position

#nba.drop(0, 2).group('POSITION', np.average)

nba.select('POSITION', 'SALARY').group('POSITION', np.average)

In [ ]:
# for each team, average salary paid for each position

nba.drop(0).group(['TEAM', 'POSITION'], np.average)

In [ ]:
# for each team, average salary paid for each position

nba.pivot('POSITION', 'TEAM', values = 'SALARY', collect = np.average)

In [ ]:
# for each team,
# amount paid to "starter" (player earning the most) in each position

starters = nba.pivot('POSITION', 'TEAM', values = 'SALARY', collect = max)
starters

In [ ]:
# sort teams by total amount paid to starters

totals = starters.drop(0).apply(sum)

In [ ]:
starters.with_column('TOTAL', totals).sort('TOTAL', descending=True)